<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="IndexDesign.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome</title>
</head>
<body>
    <div>
        <p id="Challenge">CHALLENGE</p>
        <p id="Reward">N10k for whoever has the highest score</p>
        <p id="">by 8 PM GMT</p>
    </div>
    <div id="Middle">
        <img id="ourgame" src="Gidi-Games.PNG" alt="Gidi-Games">
    </div>
    <div>
        <a href="/GameField">
            <i class="fa fa-gamepad" id="Joystick"></i>
        </a>
       
        <p id="ChallengeAccepted">BOUNCE CHALLENGE</p>
    </div>
    <div>
        <p id="Instruction">Tap your screen to move right</p>
        <p id="Instruction">Avoid obstacles</p>
    </div>
    <div>
        <p id="Paid">At 8PM GMT the player holding</p>
        <p id="Paid">the highest score wins</p>
    </div>
    <div id="Footer">
        <p id="Paid">--||||--xlxcc--||||--</p>
    </div>
    <div id="winner">
        <p id="highScorer">High Score Today </p>
        <img id="theWinner" src="default-user.png" alt="Gidi-Games">
        <p id="winnerName"><%= name %> <%= lname %>  </p>
        <p id="winnerCity"><%= city  %> </p>
        <p id="winnerScore">- -  <%= highScore  %> - - </p>
        <p id="winnerPrize">#10,000</p>
    </div>
</body>
</html>